<section class="demo-section">
  <div class="container">
    {% assign myvar = "Hello" %}
    {{ myvar }}

    {% assign num1 = 90 %}
    {% assign num2 = 60 %}
    <br/>
    {{ num1 | plus: num2 }}
    <br/>
    {{ num1 | minus: 50 }}
    <br/>
    {{ num1 | times: num2 }}
    <br/>
    {{ num1 | divided_by: 20 }}
    <br/>
    <br/>


    {% if num1 > num2 %}
    Number 1 is greater {{ num1 }}
    {% else %}
      Number 2 is greater
    {% endif %}      
    <br/>
    <br/>


    <!--  Case -->

    {% assign color = "green" %}

    {% case color %}
      {% when "green" %}
        The color is {{ color }}
      {% when "red" %}
        The color is {{ color }}
      {% else %}
        None of the above      
    {% endcase %}


    <br><br>
    For loop example
    <br><br>

    {% for i in (1..10) %}
      {% if forloop.first %}
        The for loop index is first <br>
      {% elsif forloop.last %} 
        The for loop index is last<br>
      {% else %}
      The index is : {{ i }}   <br>
      {% endif %}
    {% endfor %}


     <br><br>
       Get all the collections product  
    <br><br>

    {% for product in collections.testing.products %}
      {{ product.title }} <br>
      {{ product.price }}<br>
      {{ product }}
    {% endfor %}
      
  </div>
</section>